{% extends 'base.html' %}
{% block title%}
    List of Posts
{% endblock %}

{% block content %}
<div class="container">

    
    <br><br>
    <div class="row" style="background-color: white; padding: 20px;">
        <h1>Posts</h1>
        <br><br>
        {% for post in posts%}    
        <h1>{{post.title}}!</h1>
        <p>{{post.content}}</p>
        <p>By {{post.usr.first_name}}  {{post.usr.last_name}} on {{post.created_at.strftime('%a %b %d %Y, %I:%M %p')}}</p>
        <p><b>Tags:</b>
            {% for tag in post.postTags%}
                {% if tag %}
                <span class="p-3 mb-2 bg-primary text-white">{{tag.name}} </span>&nbsp;&nbsp;&nbsp; 
                {% else %}
                <span>None</span>
                {% endif %}
            {% endfor %}
        
        {% endfor %}
        
    </div>  
</div>        
{% endblock %}
